$color-primario:#212121;
$color-secundario:white;
$color-terciario:#212125;
$tipografia-general:sans-serif;

@mixin alimentos-cajas{
	width:150px;
	height:150px;
	margin: 50px 0px 50px 50px;
	margin-bottom:10px;
}

@mixin texto-alimentos{
	font-size:9px;
	text-align:center;
}

* {
	padding: 0;
	margin: 0;
	text-decoration:none;
	box-sizing: border-box;
	font-family:$tipografia-general;
	line-height: 1.5;
}

@import "menu";

@import "index";

@import "porque";

@import "envases";

@import "ubicacion";

@import "nosotros";

@import "pie";